@font-face {
    font-family: 'exo'; /* 给字体起个名字 */
    src: url('fonts/Exo-Regular.otf') format('opentype'); /* 路径根据你项目中的位置调整 */
    font-weight: normal;
    font-style: normal;
}

#content {
    display: flex;
    margin-top: 80px; /* Position at the top of the page */
    margin-left: 10%;
    gap: 40px;
}
.image-and-link {
    flex: 0 0 700px; /* 固定宽度200px */
}

.gallery img {
    width: auto; /* Set image width (you can adjust this as needed) */
    height: 250px; /* Maintain aspect ratio */
    margin-inline: 30px; /* Add some space between the images */
}
.text-content {
    max-width: calc(100% - 700px); /* 100% 减去左侧图片的宽度 */
    line-height: 1.6;
    text-align: justify;
    margin-right:15%;
}

/* When no image is present, make text occupy full width */
#content.no-image .text-content {
    max-width: 100%; /* Allow text to take full width */
    width: 100%;
}

.link {
    margin-top: 20px; /* Add some space above the links */
    display: flex; /* Flexbox layout for horizontal arrangement */
    gap: 20px; /* Add space between the links */
    margin-left: 25%;
}

.link img {
    width: 50px; /* Set the size of the link icons */
    height: 50px; /* Maintain aspect ratio */
    margin-inline: 30px;
}


/* 导航栏 */
body {
    font-family:  exo, sans-serif;
    font-size:x-large;
    margin: 0;
    padding: 0;
}
.nav-container {
    background-color: #ffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-container a {
    display: inline-block;
    width: 75px; /* Set the width of the icons */
    height: 75px; /* Set the height of the icons */
    background-size: contain; /* Make sure the icon fits */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    margin: 0 4%; /* Add horizontal margin for spacing */
}

.nav-container .home {
    background-image: url('Icons/home.png');
}

.nav-container .archive {
    background-image: url('Icons/archive.png');
}

.nav-container .about {
    background-image: url('Icons/about.png');
}

.nav-container .game {
    background-image: url('Icons/game.png');
}

.nav-container a:hover {
    transform: scale(1.10); /* Slightly enlarge the image on hover */
}
