/* 新增样式 */
#content {
    /* 居中 */
    margin: 0 auto;
    width: 600px;
}

#content img {
    width: 600px;
}

#content .text {
    flex: 1;
    padding-left: 20px;
}


/* 导航栏 */
.home {
    position: relative;
    display: -webkit-box;
    -webkit-box-pack: start;
    -webkit-box-align: start;
    -webkit-box-orient: start;
    text-align: center;
    margin-left: 10px;
    /* opacity: 0; */
}

.home input {
    cursor: url("光标.png"), auto;
    position: absolute;
    width: 60px;
    height: 25px;
    border: 0px;
    left: 0px;
    top: 0px;
    /* opacity: 0.5; */
    /* background-color: black; */
    background-color: transparent;
}

.cemetery {
    position: relative;
    margin: 0 auto;
    top: -25px;
}

.cemetery input {
    cursor: url("光标.png"), auto;
    position: relative;
    width: 100px;
    height: 60px;
    border: 0;
    top: -85px;
    /* opacity: 0.5; */
    /* background-color: black; */
    background-color: transparent;
}

.about {
    position: absolute;
    right: 15px;
    top: 10px;
}

p1,
p2,
p3 {
    font-family: "Gill Sans", sans-serif;
    font-size: large;
    color: gray;
}

.about input {
    cursor: url("光标.png"), auto;
    position: absolute;
    width: 60px;
    height: 25px;
    border: 0px;
    right: 1px;
    /* opacity: 0.5; */
    /* background-color: black; */
    background-color: transparent;

}

/* 导航栏结束 */

html {
    cursor: url("光标.png"), auto;
}

.link {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link a {
    margin: 7px;
    /* 可根据需要调整间距 */
}

.link img {
    width: 35px;
    height: 35px;
}