@font-face {
    font-family: 'exo'; /* 给字体起个名字 */
    src: url('fonts/Exo-Regular.otf') format('opentype'); /* 路径根据你项目中的位置调整 */
    font-weight: normal;
    font-style: normal;
}


.link img {
    width: 50px; /* Set the size of the link icons */
    height: 50px; /* Maintain aspect ratio */
    margin-inline: 30px;
}

p{
   margin-left: 12%; 
   max-width: 75%; 
   text-align: justify; 
   margin-right: 11%;
   line-height: 1.6;
}

/* 导航栏 */
body {
    font-family:  exo, sans-serif;
    font-size:larger;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: #ffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-container a {
    display: inline-block;
    width: 75px; /* Set the width of the icons */
    height: 75px; /* Set the height of the icons */
    background-size: contain; /* Make sure the icon fits */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    margin: 0 4%; /* Add horizontal margin for spacing */
}

.nav-container .home {
    background-image: url('Icons/home.png');
}

.nav-container .archive {
    background-image: url('Icons/archive.png');
}

.nav-container .about {
    background-image: url('Icons/about.png');
}

.nav-container .game {
    background-image: url('Icons/game.png');
}

.nav-container a:hover {
    transform: scale(1.10); /* Slightly enlarge the image on hover */
}
