body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: #ffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.nav-container a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-container a:hover {
    background-color: #ddd;
}

/* 图片陈列样式 */
/* 主要内容样式 */
.box {
    text-align: center;
    padding: 50px; /* 默认填充，适应小屏幕 */
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 30%;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 100px; /* 增加图片之间的垂直间距 */
}

.image-column img {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 0.69; /* 设置图片比例 */
    object-fit: cover; /* 保持比例并填充容器 */
}

/* 响应式设计 */
@media (max-width: 1200px) {
    .box {
        padding: 40px;
    }
    .image-gallery {
        gap: 5%;
    }
    .image-column {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .box {
        padding: 30px;
    }
    .image-gallery {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .image-column {
        width: 80%; /* 减小列宽以适应小屏幕 */
    }
    .image-column img {
        width: 100%;
        height: auto;
        max-width: 100%;
        aspect-ratio: 4/3;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 20px;
    }
    .image-column {
        width: 100%;
        gap: 20px;
    }
    .image-column img {
        width: 100%;
        height: auto;
        max-width: 100%;
        aspect-ratio: 4/3;
    }
}