body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav-container {
    background-color: #ffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.nav-container a {
    display: inline-block;
    width: 75px; /* Set the width of the icons */
    height: 75px; /* Set the height of the icons */
    background-size: contain; /* Make sure the icon fits */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    margin: 0 4%; /* Add horizontal margin for spacing */
}

.nav-container .home {
    background-image: url('Icons/home.png');
}

.nav-container .archive {
    background-image: url('Icons/archive.png');
}

.nav-container .about {
    background-image: url('Icons/about.png');
}

.nav-container a:hover {
    transform: scale(1.10); /* Slightly enlarge the image on hover */
}

/* 图片陈列样式 */
/* 主要内容样式 */
.box {
    text-align: center;
    padding: 150px; /* 默认填充，适应小屏幕 */
}

.image-gallery {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 400px; /* 增加图片之间的垂直间距 */
}

.image-column img {
    width: 100%;
    max-width: 350px;
    height: auto;
    aspect-ratio: 0.69; /* 设置图片比例 */
    object-fit: cover; /* 保持比例并填充容器 */
}
.button-image {
    padding-top: 150px;
    padding-bottom: 0;
    cursor: pointer;
    width: 150px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s; /* Add a hover effect */
}

.button-image:hover {
    transform: scale(1.05); /* Slightly enlarge the image on hover */
}
/* 响应式设计 */
@media (max-width: 1200px) {
    .box {
        padding: 40px;
    }
    .image-gallery {
        gap: 5%;
    }
    .image-column {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .box {
        padding: 30px;
    }
    .image-gallery {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .image-column {
        width: 80%; /* 减小列宽以适应小屏幕 */
    }
    .image-column img {
        width: 100%;
        height: auto;
        max-width: 100%;
        aspect-ratio: 4/3;
    }
}

@media (max-width: 480px) {
    .box {
        padding: 20px;
    }
    .image-column {
        width: 100%;
        gap: 20px;
    }
    .image-column img {
        width: 100%;
        height: auto;
        max-width: 100%;
        aspect-ratio: 4/3;
    }
}