.imgA {
    margin-top: 200px;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    text-align: center;
}

.imgB {
    margin-top: 30px;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    text-align: center;
}


#guide {
    position: relative;
    /* 当div设置宽度后想要居中就用下面这个方法 */
    margin: 0 auto;
    width: 400px;
    left: 280px;
    top: -150px;
    display: none;
}

p input {
    width: 120px;
    height: 70px;
    border: 0;
    opacity: 0;
    cursor: url("光标.png"), auto;
}

html {
    cursor: url("光标.png"), auto;
}

h {
    margin-top: 200px;
    margin-bottom: 50px;
    white-space: nowrap;
    display: -webkit-box;
    /* -webkit-box-pack: center; */
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    /* text-align: center; */

}