/* 导航栏 */
.nav-container {
    
    background-color: #ffff;
    padding: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.nav-container a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-container a:hover {
    background-color: #ddd;
}

/* 导航栏结束 */

p {
    text-align: center;
    margin-top: 100px;
}